
#nav{
    width: 1450px;
    height: 70px;
    background-color:#2564cf;
    padding: 10px 10px 30px 10px;

}
#flex{
display: flex;

}
#nav{
    position: fixed;
    top: 0;
    z-index: 2;
}
.nav-link{
    color: white;
}
